@charset "utf-8";
@import 'style.css';

.find_box {
    display: flex;
    margin-top: 20vh;
    align-items: center;
    flex-direction: column;
    height: 55vh;
}

.find_input {
    width: 15vw;
    height: 3vh;
    font-size: 16px;
    padding-left: 2rem;
    border-radius: 0.5vw;
    border-color: rgb(0, 0, 0);
    outline: none;
}

.font_box {
    display: flex;
    justify-content: flex-start;
    width: 17vw;
}

.font_guide {
    display: flex;
    justify-content: flex-start;
    width: 17vw;
    color: rgb(128, 128, 128);
}

.push {
    display: flex;
    justify-content: flex-end;
    width: 17vw;
}

.push_font {
    background-color: rgb(255, 255, 255);
    border: none;
}

input:hover {
    font-weight: 700;
}

@media (max-width: 414px) {
    .font_box {
        width: 70vw;
    }
    .font_guide {
        font-size: 13px;
        width: 70vw;
    }
    .find_input {
        width: 70vw;
        border-radius: 2vw;
    }
    .push {
        width: 80vw;
    }
}
