@charset "utf-8";
@import 'style.css';

.login_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
}

.login_input {
    width: 15vw;
    height: 3vh;
    font-size: 1vw;
    padding-left: 2vw; /* input창 앞에 띄우기 */
    border-radius: 50vw; /* input창 둥글게 */
    border-color: black;
    font-size: 16px;
    outline: none;
    margin-bottom: 3vw;
}

.font_box {
    display: flex;
    justify-content: flex-start;
    width: 15vw;
}

.login_button {
    margin-top: 2vw;
    width: 17vw;
    height: 3vh;
    background-color: rgb(52, 152, 219);
    color: white;
    font-size: 1vw;
    border: none;
    border-radius: 1vw;
}

.find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17vw;
    margin-top: 3vw;
}

@media (max-width: 400px) {
    .login_input {
        width: 70vw;
        font-size: 13px;
        padding-left: 5vw;
    }
    .font_box {
        width: 70vw;
    }
    .login_button {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .find {
        width: 70vw;
        font-size: 13px;
        margin-bottom: 5vh;
    }
}
