@charset "utf-8";
@import 'style.css';

hr {
    margin-top: 7vw;
    width: 80vw;
    margin-bottom: 2vw;
}

input:focus,
textarea:focus {
    outline: none;
}

.post_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
}

.title_input {
    text-align: center;
    width: 40vw;
    height: 2vw;
    font-size: 1vw;
    margin-bottom: 2vw;
    font-weight: 700;
    border: none;
}

.content_textarea {
    width: 40vw;
    height: 30vw;
    font-size: 1vw;
    /* margin-bottom: 2vw; */
}

.input_file {
    display: none;
}

.input_file_button {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: rgb(52, 152, 219);
    font-size: 1vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    margin-bottom: 2vw;
}

.input_file_button:hover {
    font-weight: 700;
}

.confirm_box {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin-bottom: 5vw;
}

.confirm_button {
    margin-top: 2vw;
    width: 6vw;
    height: 2vw;
    background-color: rgb(52, 152, 219);
    color: white;
    font-size: 1vw;
    border: none;
    border-radius: 1vw;
}

.cancel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    width: 6vw;
    height: 2vw;
    background-color: rgb(94, 94, 94);
    color: white;
    font-size: 1vw;
    border: none;
    border-radius: 1vw;
}

.cancel_button:hover {
    font-weight: 700;
}

.test {
    border: 1px solid black;
    height: auto;
    width: 100%;
}
