@charset "utf-8";
@import 'style.css';

.detail_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.writer_box {
    display: flex;
    justify-content: flex-start;
    width: 50vw;
}

.writer_font {
    font-weight: 700;
    font-size: 16px;
}

.registration_box {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-top: -2vh;
    margin-bottom: 2vh;
}

.registration_font {
    font-size: 13px;
}

.title_font {
    font-size: 16px;
    font-weight: 700;
}

.content_textarea {
    width: 40vw;
    height: 50vh;
    font-size: 16px;
}

.start_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    height: 3vh;
    margin-top: 1vh;
}

.count_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 8vw;
    height: 2vh;
}

.icon_size {
    font-size: 2vw;
}

.comment_card {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 15vh;
}

.image_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 10vh;
}

.comment_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    height: 10vh;
}

.comment_id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
    height: 3vh;
}

.comment_id_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 3vh;
    white-space: nowrap;
}

.comment_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
    height: 12vh;
}

.comment_textarea {
    width: 45vw;
    height: 12vh;
    border: none;
}

.comment_registrationDate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
    height: 2vh;
}

.comment_registration_textarea {
    width: 39vw;
    height: 9vh;
}

.comment_registration_button {
    width: 5vw;
    height: 9vh;
    background-color: white;
    border: 1px solid black;
}

.comment_registration_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 29vw;
    height: 4vh;
}

.comment_registration_edit_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 4vh;
}

.comment_registration_edit_button {
    width: 5vw;
    height: 3vh;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 1vw;
}

.comment_registration_delete_button {
    width: 5vw;
    height: 3vh;
    background-color: rgb(52, 152, 219);
    border: none;
    border-radius: 1vw;
    color: white;
}

@media (max-width: 400px) {
    .content_textarea,
    .start_box {
        width: 70vw;
    }
    .count_box {
        width: 20vw;
    }
    .icon_size {
        font-size: 4vw;
    }
    .comment_card {
        width: 90vw;
        height: 20vh;
    }
    .image_box {
        width: 10vw;
    }
    .writer_box,
    .registration_box,
    .comment_right,
    .comment_id,
    .comment_content,
    .comment_registrationDate {
        width: 80vw;
    }
    .comment_id_box {
        width: 30vw;
        font-size: 13px;
    }
    .comment_registration_box {
        width: 30vw;
    }
    .comment_registration_edit_box {
        width: 30vw;
    }
    .comment_registration_edit_button,
    .comment_registration_delete_button {
        width: 10vw;
    }
    .comment_textarea {
        width: 80vw;
        height: 10vh;
    }
    .comment_registration_button {
        width: 20vw;
    }
    .comment_registration_textarea {
        width: 55vw;
    }
}
